{% extends '::page.html.twig' %}

{% block body %}

    {{ render_pattern(contentHeader) }}

    <div class="wrapper u-pad-top-lg">

        <div class="grid">

            <div class="grid__item medium--twelve-twelfths">

                {%- if profile %}{{ profile | raw }}{% endif %}

            </div>

        </div>

    </div>

{% endblock %}
